@import "/css/shared.css"; 




main{
    grid-area: main;
    background-color: var(--mycolor);
    margin-top: 1%;
    border: 2.5px solid var(--platinum);
    border-radius: 5px;


}





.center, p{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

h1,h2,h3,h4,h5{
    text-align: center;
}


/* for the blog posts */
.post-preview{
    text-align: center;
    margin: 0%;
    padding: 0%;
    line-height: 1px;
}

.post-preview a:link{
    color: black
}

ol{
    margin-left: 15%;
    margin-right: 15%;
}
/* for the blog posts */


