@charset "utf-8";



:root {

    --mycolor: rgb(253, 253, 249);
    --platinum: rgb(238, 240, 242);
    --pgray: rgb(71, 104, 127);
}

body {
    background-color: white;
}

a:link{
    color: var(--pgray);

}


/* CSS Grid Layout, use browser dev tools to view partitions*/
.container{
    font-family:  "Spectral", 'Times New Roman', Times, serif;
    background-color: white;
    display: grid;
    height: 100vh;
    grid-template-columns: 0.75fr 1fr 1fr 0.75fr;
    grid-template-rows: 0.25fr 0.1fr 0.1fr 0.75fr 0.5fr;
    grid-template-areas: 
    "headspace0 headspace0 headspace0 headspace0"
    "headspace1 header header headspace2"
    "navspace1 nav nav navspace2"
    "space1 main main space2"
    "footer footer footer footer";

}


header{
    background-color: var(--mycolor);
    font-family: Libre Baskerville;
    font-weight: bold;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 1%;
    font-size: 1.5em;
    grid-area: header;
    border: 2.5px solid var(--platinum); 
    border-radius: 5px;
   
}






/* ------------------------------------ */

/* nav stuff */


nav {
    background-color: var(--mycolor);
    grid-area: nav;
    border: 1px solid var(--platinum);
    border-radius: 5px;
    padding: 1%; /* Adjust this value as needed */
    padding-left: 10%;
    padding-right: 10%;

    
    display: grid;
    align-items: center;


}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;

    display: grid;
    grid-auto-flow: column; /* Arrange items in a horizontal line */
    gap: 20%; /* Adjust this value as needed for desired spacing */

}

nav li {
    font-size: large;
}







  

nav a {
    text-decoration: none;
  }


/* There is an attribute (?) in each page that sets it to be the active page. */

nav ul li a.active-page
{
    color: black;
    text-decoration: underline;
}



/* ------------------------------------ */








/* These are the surrounding blank areas. */

#headspace0{
    grid-area: headspace0;
}

#headspace1{
    grid-area: headspace1;
}
#headspace2{
    grid-area: headspace2;
}

#navspace1{
    grid-area: navspace1;
}
#navspace2{
    grid-area: navspace2;
}
#space1{
    grid-area: space1;
}
#space2{
    grid-area: space2;
}

footer{
    grid-area: footer;
    text-align: center;
}


/* These are the surrounding blank areas. */



/* About Me list spacing */

.custom-list {
    margin: 0;
    padding: 0;
  }

  /* Apply styles to list items within the specific list */
  .custom-list li {
    margin-bottom: 10px; /* Adjust the spacing as needed */
  }