@charset "utf-8";
:root {
    --space: rgb(255, 255, 250);
}
.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 1.5fr 0.25fr;
    grid-template-areas: 
    "navspace1 nav nav navspace2"
    "space1 main main space2"
    "footer footer footer footer";

}

header{
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

nav{
    background-color: lightgray;
    grid-area: nav;
}

nav ul{
    list-style: none;
    text-align: center;
}

nav li{
    display: inline-block;
    margin: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

nav a:link{
    color: black;
}

nav ul li a.active-page
{
    border: 1px solid black;
    border-style: solid;
}

main{
    background-color: rgb(115, 172, 224);
    grid-area: main;
    margin-top: 10%;
}


header{
    background-color: pink;
}

footer{
    background-color: var(--space);
    grid-area: footer;
    text-align: center;
}

#navspace1{
    background-color: var(--space);
    grid-area: navspace1;
}
#navspace2{
    background-color: var(--space);
    grid-area: navspace2;
}
#space1{
    background-color: var(--space);
    grid-area: space1;
}
#space2{
    background-color: var(--space);
    grid-area: space2;
}



.center, p{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
