@charset "utf-8";



:root {

    /*--space: #f2f3f3;*/
    --mycolor: rgb(241, 244, 245);
    --space: white;;
    --platinum: rgb(208, 217, 220);
    --pgray: rgb(71, 104, 127);
}

body {
    background-color: var(--space);
}

a:link{
    color: rgb(71, 104, 127);

}


/* CSS Grid Layout, use browser dev tools to view partitions*/
.container{
    font-family:  Spectral ;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 0.1fr 0.1fr 1.5fr 0.5fr;
    grid-template-areas: 
    "headspace0 headspace0 headspace0 headspace0"
    "headspace1 header header headspace2"
    "navspace1 nav nav navspace2"
    "space1 main main space2"
    "footer footer footer footer";

}

main{
    grid-area: main;
    background-color: var(--mycolor);
    margin-top: 1%;
    border: 2.5px solid var(--platinum);
    border-radius: 5px;

    display: grid;
    grid-template-columns: 1fr 1fr; /* Adjust as needed */
    grid-template-rows: 1fr; /* Adjust as needed */

}

main::after {
    content: "";
    display: block;
    width: 1px;
    background-color: var(--platinum);
    grid-column: 2 / 3; /* Adjusted to span from column 2 to column 3 */
    grid-row: 1;
  }
  
  


#headshot {
    grid-column: 1;
    grid-row: 1;
    border-radius: 1%;
    border: 10% solid var(--platinum); 
    
    width: 90%;
    margin-top: 25%;

    display: block;
    margin-left: auto;
    margin-right: auto;
}



#bio {
    grid-column: 2;
    grid-row: 1;
    margin: 0%;    
    margin-top: 20%;
}

#bio p {
    margin: 5% 5% 5% 10%; /* top right bottom left */
}

.icons {
    display: flex;
    justify-content: center;
  }
  
.icons a {
    display: flex;
    align-items: center;
    margin: 5% 5% 5% 5%; 
    font-size: 125%; /* Adjust font size as needed */
    color: black;
    text-decoration: none;
  }
  



header{
    background-color: var(--mycolor);
    font-family: Libre Baskerville;
    font-weight: bold;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 1%;
    font-size: 1.5em;
    grid-area: header;
    border: 2.5px solid var(--platinum); 
    border-radius: 5px;
   
}







/* nav stuff */


nav {
    grid-area: nav;
    background-color: var(--mycolor);
    border: 1px solid var(--platinum);
    border-radius: 5px;
    padding: 1%; /* Adjust this value as needed */
    padding-left: 10%;
    padding-right: 10%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

nav li {
    padding: 0;
    margin: 0 10px; /* Adjust this value as needed */
}

nav a {
    text-decoration: none;
  }


nav a:link{
    color: var(--pgray);
}

/* There is an attribute (?) in each page that sets it to be the active page. */
nav ul li a.active-page
{
    /*  border: 1px solid black;
    border-style: solid;
    border-radius: 4px;  */
    color: black;
    text-decoration: underline;
}



#frontpageBar {
    background-color: rgb(204, 186, 145);
    border: none; /* This is to remove the default border color of hr */
    height: 2.5px; /* You can adjust this value to change the thickness of the hr */
}




/* These are the surrounding blank areas. */

#headspace0{
    grid-area: headspace0;
    background-color: var(--space);
}

#headspace1{
    grid-area: headspace1;
    background-color: var(--space);
}
#headspace2{
    grid-area: headspace2;
    background-color: var(--space);
}

#navspace1{
    background-color: var(--space);
    grid-area: navspace1;
}
#navspace2{
    background-color: var(--space);
    grid-area: navspace2;
}
#space1{
    background-color: var(--space);
    grid-area: space1;
}
#space2{
    background-color: var(--space);
    grid-area: space2;
}

footer{
    background-color: var(--space);
    grid-area: footer;
    text-align: center;
}


/* These are the surrounding blank areas. */



.center, p{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

h1,h2,h3,h4,h5{
    text-align: center;
}

.post-preview{
    text-align: center;
    margin: 0%;
    padding: 0%;
    line-height: 1px;
}

.post-preview a:link{
    color: black
}

.post{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}



