*, *::before, *::after{
    box-sizing: border-box;
}

.tool {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px,auto) repeat(3,100px);
    
}

.tool > button{
    cursor: pointer;
    font-size: 2rem;
    color: white;
    border: 1px solid white;
    outline: none;
    background-color: rgba(0,0,0,.75);
}

.tool > button:hover{
    background-color: rgba(0,0,1);
}

.span-two{
    grid-column: span 2;
}

#canvas{
    grid-column: 1 / -1;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.75);
}

#nodesField, #edgesField{
    justify-content: center;
    font-size: 1.15rem;
}